@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700);
/*
 * Edits should be made to .less files
 */
/* ======================================================
   Global Styles
   ====================================================== */
a,
.btn-link {
  color: #1a1a1a;
}
a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
  color: #000000;
}
.btn,
label {
  font-weight: 400;
}
.label {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pill {
  background-color: #333333;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.well {
  background-color: #ffffff;
  border: none;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #ffffff;
  background-image: none;
  filter: none;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #ffffff;
  background-image: none;
  filter: none;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  background-color: #ffffff;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #fce900;
  color: #333;
  border-radius: 0;
}
.nav .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #ffffff;
  -webkit-box-shadow: 0 1px 4px #ffffff;
  -moz-box-shadow: 0 1px 4px #ffffff;
  box-shadow: 0 1px 4px #ffffff;
}
.editor .editor-info-block a {
  color: #ffffff;
}
.popover-followee .nav li a i {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 1px 2px #ffffff;
  -moz-box-shadow: inset 0 1px 2px #ffffff;
  box-shadow: inset 0 1px 2px #ffffff;
}
.popover-followee .nav li.active a i {
  color: #ffffff;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #ffffff;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #ffffff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* Buttons */
.btn,
.btn-group > .btn:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn i {
  display: none;
}
.btn-primary {
  background-color: #0077ff;
  background-image: none;
  border-color: #0077ff;
  filter: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #80bbff;
}
.btn-success {
  background-color: #00ba1d;
  background-image: none;
  border-color: #00ba1d;
  filter: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #00d321;
}
.btn-danger {
  background-color: #DA4F49;
  background-image: none;
  border-color: #DA4F49;
  filter: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #de635e;
}
/* Tables */
.table-bordered {
  border: none;
}
.table-bordered th,
.table-bordered td {
  border-left: none;
}
.table-striped tbody tr:nth-child(2n) td,
.table-striped tbody tr:nth-child(2n) th {
  background-color: transparent;
}
.table th,
.table td {
  border-color: #333333;
}
.hide-heading {
  display: block;
  visibility: hidden;
  height: 0px;
}
/* ======================================================
   Layout & Targeted Styles
   ====================================================== */
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-image: none;
  background-color: #FFF;
  color: #333;
}
.yellowish {
  color: #fce900;
}
.yellowish:hover {
  color: #fce900;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: 700;
}
.account-masthead {
  background-color: #333333;
  background-image: none;
}
.account-masthead .account ul li {
  border-color: #333333;
}
.account-masthead .account ul li a,
.account-masthead .account ul li a:hover {
  color: #FFF;
  background-color: #333333;
  font-size: 12px;
  font-weight: 300;
  padding: 0 20px;
}
.account-masthead .account .notifications a span {
  background-color: #333333;
}
.masthead,
.masthead > .container .header-image {
  background-color: #ffffff;
}
.masthead {
  background-repeat: no-repeat;
  background-position: left center;
  height: 105px;
  background: initial;
  background-color: #ffffff;
  padding-top: 0em;
}
.ie .masthead {
  background-image: url(../../images/logo.png);
}
.masthead .logo {
  font-family: "Lato", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  color: #FFF;
  display: block;
  padding-top: 0px;
  width: 200px;
  float: left;
}
.masthead .logo2 {
  font-family: "Lato", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  color: #FFF;
  display: block;
  padding-top: 0px;
  width: 200px;
  float: right;
  padding-top: 16px;
}
.masthead hgroup h2 {
  position: static;
  padding-top: 27px;
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  color: #ffffff;
  float: none;
}
.masthead .navigation {
  margin-top: 30px;
  font-style: italic;
  background-color: #333333;
  width: 100%;
}
.nav-collapse {
  background-color: #333333;
}
.nav-pills > li > a {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin: 0 0 0 0;
  padding: 15px 30px;
  color: #FFF;
  font-weight: 700;
}
.nav-pills > ul {
  margin: 0 0 0 0;
}
.nav {
  margin-bottom: 0;
  padding-left: 0px;
}
[role="main"],
.main {
  background-color: #ffffff;
  background-image: none;
}
.toolbar .breadcrumb {
  font-style: italic;
  text-transform: lowercase;
}
.toolbar .breadcrumb .active a,
.toolbar .breadcrumb a.active {
  font-weight: 300;
}
.toolbar .breadcrumb li.home {
  display: none;
}
.wrapper {
  background-image: none;
  background-color: #FFF;
  border: none;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
[role="main"] .primary {
  width: 700px;
}
[role="main"] .secondary {
  background-color: #ffffff;
  border: solid 10px #fce900;
  position: relative;
  margin-left: -10px;
}
.wrapper .primary:before {
  content: '';
  position: absolute;
  width: 240px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  bottom: 0;
}
.wrapper .module-resource {
  position: relative;
  z-index: 1;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.secondary .filters {
  display: block;
  padding: 7px 15px;
  font-style: italic;
  text-transform: lowercase;
  border-top: solid 5px #333333;
  border-bottom: solid 5px #333333;
}
.secondary .filters:nth-child(n+2) {
  display: none;
}
.secondary .module {
  background-color: #fce900;
  border-bottom: solid 5px #333333;
  margin: 0;
}
.secondary .module .module-heading {
  background-color: #fce900;
  border-bottom: solid 5px #333333;
  border-top: none;
}
.secondary .module:first-child .module-heading {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.secondary .module .module-heading i {
  display: none;
}
.nav-simple > li,
.nav-aside > li {
  border-bottom: 1px solid #333333;
}
.module-footer {
  border-top: 1px solid #333333;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #4d4d4d;
  color: yellow;
}
.nav-item.active > a,
.nav-item.active > a:hover {
  background-color: #333333;
}
.nav-item.active > a:before {
  background-image: none;
  width: 0;
  height: 0;
  border-top: 17px solid rgba(51, 51, 51, 0);
  border-bottom: 17px solid rgba(51, 51, 51, 0);
  border-left: 6px solid #333333;
}
.page-header {
  background-color: #ffffff;
  border-bottom: none;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 0 !important;
}
.stages {
  margin: -20px 0 20px -20px;
  width: 700px;
}
.stages li {
  background-color: #ffffff;
}
.stages li:after {
  border-color: #ffffff rgba(255, 255, 255, 0);
}
.stages li.active:before {
  color: #333333;
}
.stages li.active:after {
  border-color: #333333 rgba(51, 51, 51, 0);
}
.stages li.active .highlight {
  background-color: #333333;
}
.stages li.complete:before {
  background-color: #737373;
  color: #4d4d4d;
}
.stages li.complete:after {
  border-color: #4d4d4d rgba(51, 51, 51, 0);
}
.stages li.complete .highlight {
  background-color: #4d4d4d;
  color: #737373;
}
.primary .module-content.page-header .nav-tabs,
.module-content.page-header .nav-tabs {
  border-bottom: none;
  padding: 0 10px 12px 19px;
}
.page-header .nav-tabs a,
.page-header .nav-tabs a:hover {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 5px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  padding: 16px 50px 8px 1px;
  margin-right: 20px;
  color: #333333;
}
.page-header .nav-tabs li.active a,
.page-header .nav-tabs a:hover {
  background-color: #ffffff;
  border-color: #333333;
}
.page-header .nav-tabs a:hover {
  border-color: #4d4d4d;
}
.page-header .nav-tabs a i {
  display: none;
}
.no-nav .page-header {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.primary .module-content,
.primary .module-content:first-child,
.primary .module-content:last-child {
  padding: 0;
  margin: 0;
}
.primary .module-content > * {
  padding: 0 20px;
}
.primary .module-content > *:first-child {
  padding-top: 20px;
}
.primary .module-content > *:last-child {
  padding-bottom: 20px;
}
.primary .module-content > .label,
.primary .module-content > .badge {
  padding: 2px 4px;
  margin-left: 20px;
  margin-right: 20px;
}
.primary .module-content .page_primary_action {
  background-color: #ffffff;
  margin: 0;
}
.primary .module-content .search-form {
  border-bottom: 5px solid #333333;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.primary .module-content .search-form h2 {
  color: #333333;
  font-size: 18px;
}
.primary .module-content .search-form .search-input button i {
  color: #ffffff;
}
.primary .module-content > .form-actions {
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
}
.primary h3,
.ckan-comment-thread h3 {
  text-transform: uppercase;
  font-size: 16px;
}
.ckan-comment-thread {
  margin: 0 20px 20px 20px;
}
.dataset-item {
  border-bottom: solid 2px #333333;
}
.media-view:hover .banner,
.media-view.hovered .banner {
  background-color: #333333;
}
.bottom-yellow {
  border-bottom: 3px solid #fce900;
}
/* Groups */
.groups.wrapper {
  background-color: #ffffff;
}
.groups.wrapper .secondary {
  background-color: #fce900;
  border-left: solid 10px #fce900;
  border-right: solid 10px #fce900;
}
.groups.wrapper .secondary .module-heading {
  background-color: #fce900;
  color: #333;
  border-bottom: solid 5px #333333;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  margin-top: 15px;
}
.groups.wrapper .secondary .module .module-content {
  background-color: #fce900;
  color: #333;
}
.groups.wrapper .primary:before {
  background-color: initial;
}
.media-grid {
  background: none;
  margin-left: -2px;
  margin-top: -2px;
  border: none;
}
.media-grid .media-item {
  margin: 2px 0 0 2px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.media-grid .media-item .media-view {
  border-color: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.media-grid .media-view:hover,
.media-grid .media-view.hovered {
  border-color: #ffffff;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.media-image {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
strong.count {
  font-weight: 300;
}
.context-info .image img,
.context-info .image a {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.resource-list {
  margin: 0 0 10px 0;
}
.resource-item {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top: solid 2px #333333;
}
.dataset h4 {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #fce900;
}
/* Footer */
.site-footer,
.site-footer label,
.site-footer small,
.site-footer a {
  color: #fce900;
}
.site-footer {
  background-image: none;
  background-color: #333333;
  color: #FFF;
}
.site-footer {
  padding: 25px 0;
  min-height: 35px;
  font-size: 12px;
  line-height: normal;
}
.site-footer .agu {
  display: block;
  float: left;
  width: 180px;
}
.site-footer .agu img {
  width: 150px;
}
.site-footer .cd-mx {
  display: block;
  float: left;
  width: 110px;
}
.site-footer .cd-mx img {
  width: 85px;
  margin-top: 7px;
}
.site-footer .footer-links {
  float: right;
  margin-left: 260px;
  width: auto;
  font-weight: bold;
}
.footer-tag {
  margin-top: 13px;
}
.footer-tag .tagline {
  float: left;
}
.footer-tag .links {
  float: right;
}
/* Home */
.festival-datos.module-content.box {
  margin-top: 2em;
}
.lab-photo {
  background: url("/images/fondolab.jpg");
  height: 600px;
  background-position: -171px -19px;
}
.hero {
  overflow: hidden;
}
.hero a {
  font-weight: 700;
}
.hero .map {
  position: absolute;
  width: 100%;
  min-height: 440px;
  top: 0;
}
.hero .module-dark .module-content {
  background-color: #ffffff;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.hero .tags {
  background-color: #333333;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.hero .module-dark .heading {
  color: #333333;
}
.hero .search-giant input {
  border-color: #ffffff;
}
.search-form .search-input button i {
  color: #ffffff;
}
.search-form .search-input {
  border: solid 2px #333333;
}
.box {
  border: none;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.module-heading {
  background-color: #fce900;
  border-bottom: 5px solid #333333;
}
.module:first-child .module-heading {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.main.homepage {
  border-top: 2px solid #ffffff;
}
.header-image {
  margin-left: 0px;
  width: 100%;
}
.empty {
  color: #333333;
  font-style: italic;
  font-weight: 300;
}
/* Media Queries */
@media all and (max-width: 1071px) {
  .masthead > .container .header-image {
    margin-left: 0px;
    width: 100%;
  }
}
