{% extends "page.html" %}

{% block maintag %}
{% endblock %}
{% block toolbar %}
{% endblock %}

{% block content %}
<div class="container">
<div class="row row1">
<div class="span12 col1">
<div class="module-content box">

<h1 class="page-heading">Acerca de Laboratorio de Datos</h1>
<p>
  El Laboratorio de Datos es un repositorio de datasets y API construido a partir de
  datos facilitados por entidades de gobierno al Laboratorio para la Ciudad, estructurados
  por hackers y plataformas cívicas.
</p>
<p>
El Laboratorio de Datos es el repositorio base de HackCDMX, festival de Datos de la Ciudad
de México y CódigoCDMX, ambos proyectos de innovación cívica del Laboratorio para la Ciudad.
</p>
<p>
El Laboratorio para la Ciudad es el área experimental de innovación cívica y creatividad urbana
del Gobierno de la Ciudad de México.
</p>
</div>
</div>
</div>
</div>
{% endblock %}
