{% extends "page.html" %}

{% block maintag %}
{% endblock %}
{% block toolbar %}
{% endblock %}

{% block content %}
<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span12 col1">
        <div class="module-content box">
          <header>
            <div class="span12">
                <h1 class="page-heading">APIs de la Ciudad de México</h1>
  
              <div class="module">
                <h2 class="yellowish">API de Movilidad</a></h2>
                <p class="lead">Contiene los métodos para obtener información relevante a la movilidad en la Ciudad de México</p>
                <hr>
                <div class="submodule">
                  <h3><a href="https://github.com/LabPLC/api.labcd.mx/wiki/Ecobici">Ecobici</a></h3>
                  <p>Métodos para obtener información de Ecobici</p>
                </div>
                <div class="submodule">
                  <h3><a href="https://github.com/LabPLC/api.labcd.mx/wiki/Taxis">Taxis</a></h3>
                  <p>Información y métodos sobre el servicio de taxis del Distrito Federal</p>
                </div>
                <div class="submodule">
                  <h3><a href="https://github.com/LabPLC/api.labcd.mx/wiki/Vehiculos">Vehículos</a></h3>
                  <p>Llamadas relacionadas a informacion de vehículos del DF</p>
                </div>
              </div>

              <div class="module">
                <h2 class="yellowish">API de Calidad del Aire</a></h2>
                <p class="lead">Módulo que devuelve información sobre la calidad del aire, indice UV y clima del Distrito Federal</p>
                <hr>
                <div class="submodule">
                  <h3><a href="https://github.com/LabPLC/api.labcd.mx/wiki/Calidad-del-Aire">Aire</a></h3>
                  <p>Métodos para obtener información del Sistema de Monitoreo Atmosférico de la Ciudad de México.</p>
                </div>
              </div>


              <div class="module">
                <h2 class="yellowish">API de Servicios</h2>
                <p class="lead">Módulo que devuelve información sobre el estado de servicios de la ciudad de México</p>
                <hr>
                <div class="submodule">
                  <h3><a href="https://github.com/LabPLC/api.labcd.mx/wiki/Lineas-de-captura">Línea de Captura</a></h3>
                  <p>Método que valida líneas de captura </p>
                </div>
                <div class="submodule">
                  <h3><a href="https://github.com/LabPLC/api.labcd.mx/wiki/Pagos">Pagos</a></h3>
                  <p>Método que regresa el estatus de un pago</p>
                </div>
                <div class="submodule">
                  <h3><a href="https://github.com/LabPLC/api.labcd.mx/wiki/Testamentos">Testamentos</a></h3>
                  <p>Métodos para obtener información acerca de los testamentos por medio de diferentes filtros</p>
                </div>
                <div class="submodule">
                  <h3><a href="https://github.com/LabPLC/api.labcd.mx/wiki/Corralones">Corralones</a></h3>
                  <p>Métodos para obtener información de si tu vehículo se encuentra en un corralon</p>
                </div>
              </div>

            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
{# <div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span6 col1">

      </div>
      <div class="span6 col2">

      </div>
    </div>
  </div>
</div> #}
{% endblock %}
