{% extends "page.html" %}

{% block maintag %}
{% endblock %}
{% block toolbar %}
{% endblock %}

{% block content %}
<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span12 col1">
        <div class="module-content box">
          <header>


            <div class="span12">
                <h1 class="page-heading">APIs de la Ciudad de México</h1>
              <div class="module">
                <h2><a href="http://datos.labplc.mx/aire.info" class="yellowish">API de Calidad del Aire</a></h2>
                <p class="lead">Módulo que devuelve información sobre la calidad del aire, indice UV y clima del Distrito Federal</p>
                <hr>
                <table class="table">
                  <thead>
                    <tr>
                      <th class="span4">Recurso</th><th class="span6">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a href="http://datos.labplc.mx/aire/init.info?method=GET">
                          GET /aire			</a>
                      </td>
                      <td>
                        Consulta toda la información disponible sobre monitoreo atmosferico
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="http://datos.labplc.mx/aire/init/consulta.info?method=GET">
                          GET /aire/:consulta			</a>
                      </td>
                      <td>
                        Consulta un parametro especifico del monitoreo atmosferico
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="module">
                <h2><a href="http://datos.labplc.mx/georeferencia.info" class="yellowish">API Georeferenciada</a></h2>
                <p class="lead"></p>
                <hr>
                <table class="table">
                  <thead>
                    <tr>
                      <th class="span4">Recurso</th><th class="span6">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a href="http://datos.labplc.mx//georeferencia/init.info?method=GET">
                          GET /georeferencia			</a>
                      </td>
                      <td>
                        Búsqueda de ubicaciones georeferenciadas
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="module">
                <h2><a href="http://datos.labplc.mx/movilidad.info" class="yellowish">API de Movilidad</a></h2>
                <p class="lead">Contiene los métodos para obtener información relevante a la movilidad en el Distrito Federal</p>
                <hr>
                <div class="submodule">
                  <h3><a href="http://datos.labplc.mx/movilidad/ecobici.info?submodule">ecobici</a></h3>
                  <p>Métodos para obtener información de Ecobici</p>
                </div>
                <div class="submodule">
                  <h3><a href="http://datos.labplc.mx/movilidad/taxis.info?submodule">taxis</a></h3>
                  <p>Información y métodos sobre el servicio de taxis del Distrito Federal</p>
                </div>
                <div class="submodule">
                  <h3><a href="http://datos.labplc.mx/movilidad/vehiculos.info?submodule">vehiculos</a></h3>
                  <p>Llamadas relacionadas a informacion de vehículos del DF</p>
                </div>
              </div>
              <div class="module">
                <h2><a href="http://datos.labplc.mx/servicios.info" class="yellowish">API de Servicios Generales</a></h2>
                <p class="lead"></p>
                <hr>
                <div class="submodule">
                  <h3><a href="http://datos.labplc.mx/servicios/buzon.info?submodule">buzon</a></h3>
                  <p>Reportes, peticiones de servicio, etc</p>
                </div>
                <div class="submodule">
                  <h3><a href="http://datos.labplc.mx/servicios/finanzas.info?submodule">finanzas</a></h3>
                  <p>Llamadas relacionadas a los servicios que ofrece Secretaría de Finazas en en el DF</p>
                </div>
                <div class="submodule">
                  <h3><a href="http://datos.labplc.mx/servicios/registrocivil.info?submodule">registrocivil</a></h3>
                  <p>Llamadas relacionadas a los servicios que ofrece Registro Civil en en el DF</p>
                </div>
              </div>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
{# <div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span6 col1">

      </div>
      <div class="span6 col2">

      </div>
    </div>
  </div>
</div> #}
{% endblock %}
