{% ckan_extends %}


{% block maintag %}
{% endblock %}
{% block toolbar %}
{% endblock %}

{% block content %}
  <div role="main" class="hero lab-photo">
  <div class="container">
    <div class="row row1">
      <div class="span4 col1">
        <div class="festival-datos module-content box">
          <header>

              <h4 class="page-heading">Laboratorio de Datos</h4>
              <p>
                Repositorio de <a href="/dataset"> datasets</a> y <a href="/apis">API</a> construido a partir de datos facilitados por
                <a href="/organization">entidades</a> de gobierno al Laboratorio para la Ciudad, estructurados por hackers y plataformas cívicas.
              </p>
              <p>
                Aquí encontrarás recursos digitales para desarrollar proyectos, así como tutoriales que te ayudarán a
                entender y usar los datasets.
              </p>
              <p>
                Para más información acerca de los formatos de participación y entregables, revisa
                  la sección de <a href="http://hack.labcd.mx/retos/">Retos</a> en <a href="http://hack.labcd.mx">hack.labcd.mx</a>.
              </p>
              <p>
                ¡Mucha suerte!
              </p>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
{# <div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span6 col1">

      </div>
      <div class="span6 col2">

      </div>
    </div>
  </div>
</div> #}
{% endblock %}
