{% extends "page.html" %}

{% block maintag %}
{% endblock %}
{% block toolbar %}
{% endblock %}

{% block content %}
<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span12 col1">
        <div class="container">
          <h1>Tutoriales</h1>
          <div class="row">
            <div class="dataset span3 ">
              <a href="http://datos.labplc.mx/tutoriales/vehiculos"><h4>Obtener información de un vehículo con placa del D.F.</h4></a>
              <p>Ve cómo puedes obtener información de un vehículo del D.F. a partir de su placa.</p>
            </div>
            <div class="dataset span3 ">
              <a href="http://datos.labplc.mx/tutoriales/registrocivil"><h4>Validación de actas expedidas por el Registro Civil del D.F.</h4></a>
              <p>Investiga la forma en la que puedes validar actas (de nacimiento, matrimonio, defunción) expedidas por el Registro Civil del D.F.</p>
            </div>
            <div class="dataset span3 ">
              <a href="http://datos.labplc.mx/tutoriales/buzon"><h4>Manual de uso del Buzón de la Ciudad de México</h4></a>
              <p>Aquí podrás aprender a enviar denuncias, reportes, comentarios, etc. al Buzón de la Ciudad de México y darle seguimiento.</p>
            </div>
            <div class="dataset span3 ">
              <a href="http://datos.labplc.mx/tutoriales/georeferencia"><h4>La API Georeferenciada</h4></a>
              <p>Busca ubicaciones interesantes como estacionamientos públicos, estaciones de transporte público, etc.</p>
            </div>
          </div>
          <div class="row">
            <div class="dataset span3 ">
              <a href="http://datos.labplc.mx/tutoriales/aire"><h4>Calidad del Aire en tiempo real</h4></a>
              <p>Obtén información del IMECA, Radiación UV</p>
            </div>
            <div class="dataset span3 ">
              <a href="http://datos.labplc.mx/tutoriales/taxis"><h4>Validación de choferes y concesiones de taxis</h4></a>
              <p>Obtén datos sobre taxistas y taxis del D.F.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
