{% ckan_extends %}

{% block footer_content %}
    <a class="agu">
      <img src="{{ h.url_for_static('/images/agu.png') }}" alt="Ciudad de México">
    </a>

    <a class="cd-mx">
    <img src="{{ h.url_for_static('/images/cdmx.png') }}" alt="Ciudad de México">
    </a>

    <a class="lab" href="http://labcd.mx">
      <img src="{{ h.url_for_static('/images/logolab.png') }}" alt="Ciudad de México">
    </a>

    <nav class="footer-tag">
        <p class="tagline">Laboratorio para la ciudad, área experimental del Gobierno de la Ciudad de México</p>
        <p class="links"><a class="about-footer" href="//datos.labcd.mx/acerca">{{ _('Acerca del Laboratorio de Datos') }}</a></p>
    </nav>

{% endblock %}
